.title {
  text-align: center;
  color: rgb(54 184 37);
  margin-top: 50px;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.field {
  margin-right: 20px;
}
.value,
.label {
  font-size: 40px;
}
.value {
  color: rgb(54 184 37);
}
